


<label id="movieLabel" class="lab">Movie Title</label>
&nbsp;
<input type="text" [formControl]="searchControl">
<div class="grooveBorder">
<ul>
  <li *ngFor="let movie of movies$ | async">
    {{ movie.Title }}
  </li>
</ul>
</div>

<div class="movieSearchDiv">

<label id="movieLabel" class="lab">Movie Details</label>
&nbsp;
<input type="text" [formControl]="searchControl1">

<div class="grooveBorder">
<div
*ngFor="let result of moviesDetails$ | async">. 
             {{result.key}}
             {{result.value}}
            </div>
          </div>

